nav{
    height: 80px;
    background-color: rgb(246, 218, 147);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameLink{
    background-color: rgb(86, 86, 253);
    height: 100%;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nameLink a{
    color: white;
    text-decoration: none;
}

.nameLink .one{
    font-size: 20px;
    font-weight: bolder;
}


.navLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 50%;
}

a{
    text-decoration: none;
    color: rgb(86, 86, 253);
    font-size: 20px;
    font-weight: bolder;
}

.container{
    height: 400px;
    background-image: url("bgImage.avif");
    background-size: cover;
    padding-top: 200px;
}

.container a{
    color: rgb(246, 218, 147);
    font-size: 40px;
    margin-left: 100px;
}

.introAbout{
    background-color: rgb(86, 86, 253);
    color: rgb(246, 218, 147);
    height: 140px;
    padding-left: 100px;
    padding-top: 50px;
}

.about{
    background-color: rgb(86, 86, 253);
}

.aboutInfo{
    height: 600px;
    width: 100%;
    background-color: rgb(246, 218, 147);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: rgb(86, 86, 253);
    font-weight: bold;
    width: 250px;
}

.img{
    width: 40%;
    height: 100%;
}

.img img{
    width: 100%;
    height: 100%;
}

.news{
    width: 80%;
    margin: 0 auto;
}

.heading h2{
    font-size: 30px;
    color: rgb(86, 86, 253);
    font-weight: bolder;
}


.newsBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
}

.newsImg{
    width: 100%;
    height: 240px;
}

.news img{
    width: 100%;
    height: 100%;
}

.newsText{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.newsText a{
    padding: 10px 20px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(86, 86, 253);
    border: 1px rgb(86, 86, 253) solid;
}

.newsText a:hover{
    background-color: rgb(86, 86, 253);
    color: white;
}

.newContainer{
    display: flex;
    justify-content: start;
    gap: 50px;
}

hr{
    background-color: rgb(86, 86, 253);
    border: 0.8px rgb(86, 86, 253) solid;
    width: 80%;
}

.cnBox{
    width: 300px;
    height: 450px;
    background-color: rgb(246, 218, 147);
    padding: 50px;
}

.cnBox p{
    margin-left: 50px;
    font-weight: 100;
}

.cnBox h3{
    color: rgb(86, 86, 253);
    margin-left: 50px;
    font-size: 30px;
}

.cnBox a{
    background-color: rgb(86, 86, 253);
    color: white;
    padding: 16px 30px;
    margin-left: 50px;
}

.classicNews{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

